@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body data-rsssl=1 class="page-template-default page page-id-101 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

   
    <div id="page" class="hfeed site header-fixed-style-1-topbar">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <section class="page-title">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6"> <h1> How It Works </h1> </div> <div class="col-md-6">
                                    <ul class="breadcrumbs">
                                        <li class="item-home">
                                            <a class="bread-link bread-home" href="https://altcreditlending.com" title="Homepage">Homepage</a>
                                        </li>
                                        <li class="separator separator-home">
                                            <i class="fa fa-angle-right"></i>
                                        </li>
                                        <li class="item-current item-101"><span class="bread-current bread-101"> How It Works</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1540431700596 row_default">
                        <div class="container">
                            <div class="row vc_row">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <h3 id="heading_5bdeae5c14cf8" class="li-heading center fw-bold" style="color: #1b6790;"> Take meaningful steps to reduce your debt once and for all. <small style="color: #333333;" class="fw-light">Pinnacle One Funding makes it easy to get started and stay on track. </small> </h3>
                                            <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540431691569">
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div id="side_icon_text_5bdeae5c171b3" class="li-side-icon-text left">
                                                                <div class="li-side-icon-text-icon"><i class="fa fa-phone"></i></div> <h3 class="li-side-icon-text-title">Free phone consultation</h3> <div class="li-side-icon-text-content">Schedule a meeting with one of our advisors and learn about your relief options. Managing your debt can be tricky, seeking advice from an expert is a great place to start.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div id="side_icon_text_5bdeae5c17799" class="li-side-icon-text left">
                                                                <div class="li-side-icon-text-icon">
                                                                    <i class="fa fa-ban"></i>
                                                                </div> <h3 class="li-side-icon-text-title">No obligation. No risk</h3>
                                                                <div class="li-side-icon-text-content">A consultation with us is not an obligation to commit on your end. Additionally, there is no risk of harming your credit score.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540431542983">
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div id="side_icon_text_5bdeae5c183d8" class="li-side-icon-text left">
                                                                <div class="li-side-icon-text-icon"><i class="fa fa-users"></i></div>
                                                                <h3 class="li-side-icon-text-title">Personalized approach</h3>
                                                                <div class="li-side-icon-text-content">We find the right approach for you. There are many relief options to consider, our advisors can determine which option best fits your debt scenario.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div id="side_icon_text_5bdeae5c1899c" class="li-side-icon-text left">
                                                                <div class="li-side-icon-text-icon"><i class="fa fa-comments"></i></div> <h3 class="li-side-icon-text-title">Your interests in mind</h3> <div class="li-side-icon-text-content">We respond within 48-hours. Also, no hidden fees here and no charges after the fact. We’re committed to helping you reach your debt reduction goals.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1540366967569 vc_row-has-fill">
                        <div class="container">
                            <div class="row vc_row">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"> <h2 id="heading_5bdeae5c19785" class="li-heading center fw-bold vc_custom_1540873048639" style="color: #ffffff;"> It's time to take charge of your finances! <small style="color: #ffffff;" class="fw-light">Let our loan specialists help you out of debt fast.</small> </h2> <div class="btn-wrapper center"><a data-effect="pulse" href="/contact-us/" class="btn btn-md btn-custom4 btn-outline li-animate" id="button_5bdeae5c19835">APPLY TODAY!</a></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                </main>
            </div>
        </div>
    </div>
</body>



