<footer id="colophon" class="site-footer">
    <div class="footer-widget-bar footer-row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <div class="widget widget_text">
                            <h2>ABOUT ALT CREDIT LENDING</h2>
                            <div class="textwidget">
                                <p>
                                    Alt Credit Lending is your credit card consolidation loan provider. We are located in Denver, Colorado and we offer customized solutions for every situation. We love to say YES! Get a consolidation loan today.<br />

                                    <img src="~/Content/Alt Credit Logo - PNG.png" style="height:75px;width:290px; margin-top:40px;" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <div class="widget widget_nav_menu">
                            <h2>QUICK LINKS</h2>
                            <div class="menu-main-menu-top-container">
                                <ul id="menu-main-menu-top-1" class="menu">
                                    <li class="scroll-to menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-84"><a href="https://altcreditlending.com">Home</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="https://altcreditlending.com/how-it-works/">How It Works</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="https://altcreditlending.com/available-relief-options/">Available Relief Options</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://altcreditlending.com/contact-us/">Contact Us</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="/schedule-a-call-back/"><i class="fa fa-phone margin-icon"></i>Schedule A Call Back</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <div class="widget widget_text">
                            <h2>INFO</h2>
                            <div class="textwidget">
                                <p>
                                    Alt Credit Lending<br />
                                    Address: 100 Fillmore St Ste 500<br />
                                    Denver, CO 80206
                                </p>
                                <p>
                                    Toll Free: 877-220-6175<br />
                                    Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5f363139301f2f3631313e3c333a30313a392a313b363138713c3032">[email&#160;protected]</a><br />
                                    Working Hours: 8:00 a.m – 5:00 p.m
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer-copyright footer-row">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="site-info">


                        <p style="color: #444;">Copyright © 2018 Alt Credit Lending.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-social-icons"><a href="https://www.facebook.com/" class="li-facebook"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/" class="li-twitter"><i class="fa fa-twitter"></i></a><a href="https://plus.google.com/" class="li-google-plus"><i class="fa fa-google-plus"></i></a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12 disclaimer">
                    <p>Notice to direct mail You received this offer because you met certain criteria for creditworthiness. We may not extend credit to you if, after receiving your application, we find that you do not continue to meet the criteria used to select you or we may not extend credit to you if you do not meet any applicable criteria bearing on your creditworthiness established prior to your selection. Usage of your Personal Offer Code is required in order to receive this special offer. Annual Percentage Rates (APR) range from 2.92% (AAA) to 4.99% (DD+). To qualify for an AAA Pinnacle One Rating, you must have excellent credit and meet other conditions. Sample annual percentage rates are for illustrative purposes and actual annual percentage rates range from 2.92% (AAA) to 4.99% (DD+) based on a proprietary scoring system. Account Approval is subject to Alt Credit Lending’s approval including but not limited to: Application review, verification of your credit history, credit score, monthly expenses, identity verification and employment and income verification. </p>
                </div>
            </div>
        </div>
    </div>

</footer>
